
@media(max-width: 575.98px) { 
    .logo {
        font-size: 25px;
        letter-spacing: 1px;
    }
    #foot .footbox .FormExtend {
        width: 55%;
    }
    #foot .footbox form input {
        padding: 2px 40px 2px 10px;
    }
    #foot .footbox form{
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
}
 }