
@media(max-width: 575.98px) { 
    .logo {
        font-size: 25px;
        letter-spacing: 1px;
    }
    #foot .footbox .FormExtend {
        width: 55%;
    }
    #foot .footbox form input {
        padding: 2px 40px 2px 10px;
    }
    #foot .footbox form{
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
}



/* poster start */
#poster {
    max-width: 100%;
}
#poster .postBox textarea {
    height: 170px;
}
#poster .postBox .addpost {
    padding: 5px;
    margin-top: 5px;
}
#poster .postBox .addpost h4 {
    display: none;
}
#poster .postBox .addpost .adPostList {
    flex-direction: column;
    width: 100%;
}

#poster .postBox .addpost{
    border: none;
}
#poster .postBox .addpost .adPostList li {
    position: relative;
}
#poster .postBox .addpost .adPostList li::after{
    content: '';
    width: 140%;
    height: 1px ;
    background-color: rgba(101, 104, 108, 0.2);
    position: absolute;
    top: 0;
    left: -10%;
}
#poster .postBox .addpost .adPostList li i{
    width: 30px;
}
#poster .postBox .addpost .adPostList li span{
    display: inline-block;
  color: #65686c;
  }
/* poster end */
 }