/* commom css start */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.logo{
  font-family: "Rowdies", sans-serif;
  color: rgb(255, 4, 92);
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 2px;
}
svg{
  width: 35px;
}
body {
  height: 100vh;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
button{
  cursor: pointer;
}
img {
  width: 100%;
}
i{
  font-size: 20px;
}
select {
  border: none;
  text-transform: capitalize;
  font-size: 12px;
}
main{
  height: 100%;
}
/* commom css end */
/* nav start */
#navigation {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 0;
  box-shadow: 0px -15px 10px -20px rgba(0, 0, 0, 0.45);
}
#navigation .navIcons {
  display: flex;
  justify-content: space-between;
}

#navigation .navIcons .navicon a {
  padding:  10px 20px;
  color: #65686c;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  row-gap: 5px;
  font-weight: 500;
}
#navigation .navIcons .navicon.active {
  color: #ff045c;
  border-bottom: 2px solid #ff045c;
}
/* nav end */




/* poster start */
#poster{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0%;
  left: 0;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgba(101, 104, 108, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  z-index: 9;
  display: none;
}
#poster .mainPoster .postBox{
  padding-bottom: 20px;
}
#poster.showPoster{
  display: block;
}
#poster .mainPoster{
  overflow: hidden;
  padding: 5px;
  background-color: #fff;
  max-width: 40%;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#poster h2{
  text-align: center;
  margin-top: 10px;
}
#poster .posterClose{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 30px;
  border: none;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
#poster .posterid{
  padding-top: 10px;
  border-top: 1px solid rgba(101, 104, 108, 0.15) ;
  display: flex;
  column-gap: 10px;
  margin-top: 5px;
  position: relative;
}
#poster .posterid .proimg{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
#poster .posterid .proimg img{
  object-fit: cover;
}
#poster .posterid .nmVisiblity h6{
  font-size: 20px;
}
#poster .posterid .nmVisiblity span{
  padding: 3px 10px;
  background-color: rgba(101, 104, 108, 0.3);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 14px;
  margin-top: 3px;
  display: inline-block;
}
#poster .posterid .nmVisiblity .postvisiblity{
  background-color: #fff;
  position: absolute;
  top: 35px;
  left: 58px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  z-index: 2;
  height: 0;
  overflow: hidden;
  border: 1px solid #65686c;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#poster .posterid .nmVisiblity .postvisiblity li{
  padding: 5px 20px;
}
#poster .posterid .nmVisiblity .postvisiblity li:hover{
  background: #e9e4e4;
}
#poster .posterid .nmVisiblity select{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px 10px;
}
#poster .postBox .postItem{
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#poster .postBox textarea{
  max-width: 100%;
  width: 100%;
  height: 70px;
  border: none;
  padding: 5px;
  color: #65686c;
  font-size: 18px;
}
#poster .postBox .photoVideo{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 365px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  cursor: pointer;
}
#poster .postBox .photoVideo img{
  width: 22%;
}
#poster .postBox .photoVideo .postmorebtn{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 60px;
  height: 30px;
  border-bottom-left-radius: 15px;
}
#poster .postBox .photoVideo .postoptions{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: absolute;
  top: 0;
  right: -300px;
  padding-top: 25px;
  background-color: #fff;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#poster .postBox .photoVideo .postoptions.PostoptionShow{
  right: 0;
}
#poster .postBox .photoVideo .postoptions .postoptionclose{
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  padding: 0 17px;
  height: 25px;
  background-color: rgba(101, 104, 108, 0.2);
  border-bottom-left-radius: 15px;

}
#poster .postBox .photoVideo .postoptions li{
  padding: 10px;
  display: flex;
  column-gap: 10px;
}
#poster .postBox .photoVideo .postoptions li:hover{
  background-color: rgba(101, 104, 108, 0.15);
}
#poster .postBox .photoVideo .postoptions li i{
  width: 30px;
}
#poster .postBox .photoVideo .postoptions button{
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-align: left;
}


#poster .postBox .postbtn{
  padding: 15px;
  width: 27%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 72%;
}
/* poster end */

/* account start */
#account{
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 2; */
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: none;
}
#account .AccBox{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
#account .AccBox .topacc{
  display: flex;
  justify-content: space-between;
  position: relative;
}
#account .AccBox .topacc > div{
  display: flex;
  align-items: center;
  column-gap: 15px;
}
#account .AccBox .AccProfile{
  display: flex;
  column-gap: 20px;
}
#account .AccBox .AccProfile img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#account .AccBox .AccProfile .proIDnmbr{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
}
/* account end */

/* footer start */
#foot{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
  z-index: 1;
}
#foot .footbox{
  display: flex;
  justify-content: space-between;
  height: 50px;
  position: relative;
}
#foot .footbox form{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
#foot .footbox form input{
  width: 95%;
}
#foot .footbox form.FormExtend{
  width: 100%;
}
#foot .footbox form .searchResetbtn{
  position: absolute;
  top: 16%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}
#foot .footbox form .searchResetbtn i{
  font-size: 30px;
}
#foot .footbox form .searchResetbtn , #foot .footbox form .searchInput{
  display: none;
}
#foot .footbox form.FormExtend .searchResetbtn , #foot .footbox form.FormExtend .searchInput{
  display: inline-block;
  
}
#foot .footbox form.FormExtend .searchInput{
  height: 100%;
  margin-left: 47px;
  padding: 0 15px;
  font-size: 18px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
#foot .footbox form .searchBtn{
  position: absolute;
  top: -5%;
  right: 0;
  border: none;
  background-color: transparent;
  padding: 15px;
}


#foot .footNav {
  border-top: 1px solid rgba(101, 104, 108, 0.2);
  border-bottom: 1px solid rgba(101, 104, 108, 0.2);
  margin-top: 5px;
  position: absolute;
  bottom: -48px;
  left: 0;
  width: 100%;
  padding: 5px 0px 0;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  background-color: #fff;
}
#foot .footNav .footNavList{
  display: flex;
  justify-content: space-between;
}
#foot .footNav .footNavList img{
  width: 35px;
}
#foot .footNav .footNavList li{
  padding: 2px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 5px;
  text-transform: capitalize;
  font-weight: 500;
  color: #65686c;
  width: 100%;
  justify-content: center;
  border-bottom: 2px solid transparent;
}
#foot .footNav .footNavList li.active{
  color: #ff045c ;
  border-bottom: 2px solid #ff045c;
}
#foot .footNav.footNavHide{
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

/* footer end */