/* commom css start */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.logo{
  font-family: "Rowdies", sans-serif;
  color: rgb(255, 4, 92);
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 2px;
}
body {
  height: 100%;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
button{
  cursor: pointer;
}
img {
  width: 100%;
}
i{
  font-size: 20px;
}
select {
  border: none;
  text-transform: capitalize;
  font-size: 12px;
}

main{
  height: 100%;
}
/* commom css end */
/* nav start */
#navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 0;
  box-shadow: 0px -15px 10px -20px rgba(0, 0, 0, 0.45);
}
#navigation .navIcons {
  display: flex;
  justify-content: space-between;
}
#navigation .navIcons .navicon a {
  padding:  10px 20px;
  color: #65686c;
}
#navigation .navIcons .navicon.active a{
  color: #0e7be0;
  border-bottom: 2px solid #0e7be0;
}
/* nav end */


/* footer start */
#foot{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
}
#foot .footbox{
  display: flex;
  justify-content: space-between;
}
#foot .footbox form{
  display: flex;
  align-items: center;
  max-width: 70%;
  width: 43px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
#foot .footbox .FormExtend{
  border: 1px solid rgba(101, 104, 108, 0.3);
  width: 70%;
}
#foot .footbox form input{
  width: 100%;
  height: 70%;
  padding: 2px 50px 2px 10px;
  border: none;
  color: #65686c;
}
#foot .footbox form button{
  border: none;
  background-color: transparent;
  padding: 0 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
/* footer end */
main{
  padding: 100px 0;
}
/* poster start */
#poster{
  padding: 10px;
  max-width: 50%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}
#poster h2{
  text-align: center;
  margin-top: 10px;
}
#poster .posterClose{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 30px;
  border: none;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
#poster .posterid{
  padding-top: 10px;
  border-top: 1px solid rgba(101, 104, 108, 0.15) ;
  display: flex;
  column-gap: 10px;
  margin-top: 5px;
}
#poster .posterid img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#poster .posterid .nmVisiblity h6{
  font-size: 20px;
}
#poster .posterid .nmVisiblity select{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px 10px;
}
#poster .postBox .postItem{
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#poster .postBox textarea{
  max-width: 100%;
  width: 100%;
  height: 200px;
  border: none;
  padding: 5px;
  color: #65686c;
  font-size: 18px;
}
#poster .postBox .photoVideo{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 250px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#poster .postBox .photoVideo img{
  width: 45%;
}
#poster .postBox .photoVideo .postmorebtn{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 60px;
  height: 30px;
  border-bottom-left-radius: 15px;
}
#poster .postBox .photoVideo .postoptions{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: absolute;
  top: 0;
  right: -300px;
  padding-top: 25px;
  background-color: #fff;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
#poster .postBox .photoVideo .postoptions .postoptionclose{
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  padding: 0 17px;
  height: 25px;
  background-color: rgba(101, 104, 108, 0.2);
  border-bottom-left-radius: 15px;

}
#poster .postBox .photoVideo .postoptions li{
  padding: 10px;
  display: flex;
  column-gap: 10px;
}
#poster .postBox .photoVideo .postoptions li:hover{
  background-color: rgba(101, 104, 108, 0.15);
}
#poster .postBox .photoVideo .postoptions li i{
  width: 30px;
}
#poster .postBox .photoVideo .postoptions button{
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 18px;
  text-align: left;
}


#poster .postBox .postbtn{
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
/* poster end */

